body{
    background-color:Aqua; 
 }
 h2{
     text-align: center;
     color: black;
     font-family: cursive;
     padding-top: 5px;
     padding-bottom: 5px;

 }
 	table{
            border: 1px solid;
        }

 #a{
            background-color:#aec0d3;
            color: black;
            border:1.5px solid #a2bbd4;
            height:50px;
            width:60px;
            border-radius: 3px;
            padding: 5px 0px;
 }

#a:hover{
    background-color: white;
}
